{#{% spaceless %}#}
{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

    {#<body style="background-image: url('{{ site.theme.link }}/assets/jpg/Geronimo_mobile.jpg'); background-size: 100%; background-position: bottom center" class="{{body_class}}" data-template="base.twig">#}
    <body class="{{body_class}}" data-template="base.twig">
        <div class="rkg-meni-background"></div>
        <div class="rkg-modal-background"></div>
        <div class="rkg-meni">
            <div class="rkg-header-meni">
                <div class="rkg-meni-close"></div>
            </div>
            <a class="rkg-meni-title" href="{{site.url}}" rel="home">RK Geronimo</a>
            <nav id="nav-main" class="nav-main" role="navigation">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </nav><!-- #nav -->
            <div class="rkg-meni-external">
                <a href="mailto:rkgeronimo@rkgeronimo.hr"><i class="fas fa-envelope"></i></a>
                <a href="https://www.facebook.com/ronilackiklub.geronimo/"><i class="fab fa-facebook-square"></i></a>
                <a href="http://instagram.com/ronilackiklubgeronimo?ref=badge"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.youtube.com/user/GeronimoDiving"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        {% include 'partial/modals.twig' %}
        {% include 'partial/menus.twig' %}
        {% if function('is_front_page') %}
            <div class="rkg-header">
                <div class="rkg-header-gradient"></div>
                    <div class="rkg-header-content">
                        <div class="rkg-header-logo">
                            <img src="{{ site.theme.link }}/assets/img/logo-white.png" />
                        </div>
                        <div class="rkg-header-title">
                            <span class="rkg-header-s1">DOBRODOŠLI U GERONIMO</span>
                            <span class="rkg-header-s2">Klub zaljubljenika u<br />more i podmorje</span>
                            {% if user.can('member_access') %}
                                <button id="rkg-ancor-3-go" class="button-title">gdje ronimo</button><button id="rkg-ancor-4-go" class="button-title">novosti</button>
                            {% else %}
                                <button id="rkg-ancor-1-go" class="button-title">upoznaj nas</button><button id="rkg-ancor-2-go" class="button-title">upiši tečaj</button>
                            {% endif %}
                        </div>
                    </div>
                    <div id="rkg-header-meni" class="rkg-header-meni">
                        {%- if user is empty -%}
                            <i class="rkg-login-button fas fa-sign-in-alt"></i>
                        {% else %}
                            <i class="rkg-profile-meni-switch fas fa-user-circle"></i>
                        {%- endif%}
                        <i class="fas fa-bars rkg-meni-open"></i>
                    </div>
                    <div id="rkg-header-arrow-container">
                        <div class="rkg-header-arrow"></div>
                    </div>
                </div>
        </div>
        {% endif %}
        <div class="rkg-top-stick" id="rkg-top-stick">
            <div id="rkg-scroll-ancor"></div>
            <a class="{% if function('is_front_page') %}rkg-front-hide{% endif %}" href="{{ function('home_url') }}"><img class="rkg-top-logo" src="{{ site.theme.link }}/assets/img/logo.png" /></a>
            <div id="rkg-top-meni" class="{% if function('is_front_page') %}rkg-front-hide{% endif %}">
                {%- if user is empty -%}
                <i class="rkg-login-button fas fas fa-sign-in-alt"></i>
                {% else %}
                <i class="rkg-profile-meni-switch fas fa-user-circle"></i>
                {%- endif%}
                <i class="fas fa-bars rkg-meni-open"></i>
            </div>
        </div>
        {#<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>#}
        {#<header class="header" >#}
            {#{% block header %}#}
                {#<div class="wrapper">#}
                    {#<h1 class="hdr-logo" role="banner">#}
                        {#<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>#}
                    {#</h1>#}
                    {#<nav id="nav-main" class="nav-main" role="navigation">#}
                        {#{% include "menu.twig" with {'menu': menu.get_items} %}#}
                    {#</nav><!-- #nav -->#}
                {#</div>#}
            {#{% endblock %}#}
        {#</header>#}
        <section id="content" role="main" class="content-wrapper">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>

	{#<body class="{{body_class}}" data-template="base.twig">#}
		{#<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>#}
		{#<header class="header" >#}
			{#{% block header %}#}
				{#<div class="wrapper">#}
					{#<h1 class="hdr-logo" role="banner">#}
						{#<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>#}
					{#</h1>#}
					{#<nav id="nav-main" class="nav-main" role="navigation">#}
						{#{% include "menu.twig" with {'menu': menu.get_items} %}#}
					{#</nav><!-- #nav -->#}
				{#</div>#}
			{#{% endblock %}#}
		{#</header>#}

		{#<section id="content" role="main" class="content-wrapper">#}
			{#{% if title %}<h1>{{title}}</h1>{% endif %}#}
			{#<div class="wrapper {{sidebar_class}}">#}
				{#{% block content %}#}
					{#Sorry, no content#}
				{#{% endblock %}#}
			{#</div>#}
			{#{% if sidebar %}#}
				{#<aside class="layout-sidebar">#}
					{#{{sidebar}}#}
				{#</aside>#}
			{#{% endif %}#}
		{#</section>#}

		{#{% block footer %}#}
			{#<footer id="footer">#}
				{#{% include 'footer.twig' %}#}
			{#</footer>#}
			{#{{ function('wp_footer') }}#}
		{#{% endblock %}#}
	{#</body>#}
</html>
{#{% endspaceless %}#}
