{% block content %}
    {# <h3>Status instruktora</h3> #}
    {# <table class="form-table form-table-rkg"> #}
        {# {% for key,instructor in instructors %} #}
            {# <tr> #}
                {# <th><label for="{{ instructor.id }}">{{ instructor.category }} - {{ instructor.name }}</label></th> #}
                {# <td><input type="checkbox" name="instructor-{{ instructor.id }}"{{ instructor.assigned ? ' checked' }}></td> #}
            {# </tr> #}
        {# {% endfor %} #}
    {# </table> #}
{% endblock %}
