{% block content %}
    <div class="wrap">
        <h1 id="add-new-inventory" class="wp-heading-inline">Stanje opreme</h1>
        <a href="{{site.url}}/wp/wp-admin/admin.php?page=inventory_new" class="page-title-action">Dodaj novi</a>
        <hr class="wp-header-end">
        {% if request.post is not empty %}
            <div id="message" class="updated notice is-dismissible"><p>Dodan je novi komad opreme.</p><button type="button" class="notice-dismiss"><span class="screen-reader-text">Isključi ovu napomenu.</span></button></div>
        {% endif %}
        <div>
            <ul class="subsubsub">
                <li class="all"><a href="admin.php?page=inventory_managment" {{ request.get.type ? : 'class="current"'}} aria-current="page">Sve <span class="count">({{ inventoryCount[0].num }})</span></a> |</li>
                {% for type in typeCount %}
                    <li><a {{ (request.get.type == type.type ) ? 'class="current"'}} href="admin.php?page=inventory_managment&type={{ type.type }}">
                            {{ typeTranslation[type.type] }}
                            <span class="count">({{ type.num }})</span></a> |</li>
                {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
        <div>
            <ul class="subsubsub">
                {% if request.get.type is not empty %}
                    <li class="all"><a href="admin.php?page=inventory_managment&type={{ request.get.type }}" {{ (request.get.state is defined) ? : 'class="current"'}} aria-current="page">Sve <span class="count">
                {% for type in typeCount %}
                    {{ (request.get.type == type.type) ? '('~type.num~')' }}
                {% endfor %}
                        </span></a> |</li>
                {% else %}
                <li class="all"><a href="admin.php?page=inventory_managment" {{ (request.get.state is defined) ? : 'class="current"'}} aria-current="page">Sve <span class="count">({{ inventoryCount[0].num }})</span></a> |</li>
                {% endif %}
                {% for state in stateCount %}
                    <li class="god"><a {{ (request.get.state == state.state ) ? 'class="current"'}} href="admin.php?page=inventory_managment{{ request.get.type ? '&type='~request.get.type}}&state={{ state.state }}">
                            {{ stateTranslation[state.state] }}
                            <span class="count">({{ state.num }})</span></a> |</li>
                {% endfor %}
            </ul>
        </div>
    <form method="get">
        <input type="hidden" name="page" value="inventory_managment" />
        <p class="search-box">
            <label class="screen-reader-text" for="user-search-input">Pretraži po šifri:</label>
            <input type="search" id="user-search-input" name="id" value="{{ request.get.id }}">
            <input type="submit" id="search-submit" class="button" value="Pretraži po šifri">
        </p>
    </form>
    <form method="get">
        <input type="hidden" name="page" value="inventory_managment" />
<div class="clear"></div>
<div class="alignleft actions bulkactions">
                <label for="bulk-action-selector-top" class="screen-reader-text">Odaberi grupnu akciju</label>
                <select name="action" id="bulk-action-selector-top">
                    <option value="-1">Grupne radnje</option>
                    <option value="0">Na stanju</option>
                    <option value="1">Izdano</option>
                    <option value="2">Neispravno</option>
                    <option value="3">Izgubljeno</option>
                    <option value="4">Otpisano</option>
                </select>
                <input type="submit" id="doaction" class="button action" value="Primijeni">
            </div>
            <br class="clear">
        <table class="wp-list-table widefat fixed striped users" cellspacing="0">
            <thead>
                <tr>
                    <th id="cb" class="manage-column column-cb check-column"><label class="screen-reader-text" for="cb-select-all-1">Odaberi sve</label><input id="cb-select-all-1" type="checkbox"></th>
                    <th scope="col" id="id" class="manage-column column-id sortable column-primary{{ (orderby == 'id') ? ' sorted' }} {{ order }}">
                        <a href="admin.php?page=inventory_managment
                        {{- request.get.type ? '&type='~request.get.type -}}
                        {{- (request.get.state is defined) ? '&state='~request.get.state -}}
                            &orderby=id&order=
                            {{- (order == 'asc') ? 'desc' : 'asc' -}}
                           "><span>Šifra</span><span class="sorting-indicator"></span></a>
                    </th>
                    <th scope="col" id="type" class="manage-column column-type sortable column-primary{{ (orderby == 'type') ? ' sorted' }} {{ order }}">
                        <a href="admin.php?page=inventory_managment
                        {{- request.get.type ? '&type='~request.get.type -}}
                        {{- (request.get.state is defined) ? '&state='~request.get.state -}}
                            &orderby=type&order=
                            {{- (order == 'asc') ? 'desc' : 'asc' -}}
                           "><span>Vrsta opreme</span><span class="sorting-indicator"></span></a>
                    </th>
                    <th scope="col" id="size" class="manage-column column-size sortable column-primary{{ (orderby == 'size') ? ' sorted' }} {{ order }}">
                        <a href="admin.php?page=inventory_managment
                        {{- request.get.type ? '&type='~request.get.type -}}
                        {{- (request.get.state is defined) ? '&state='~request.get.state -}}
                            &orderby=size&order=
                            {{- (order == 'asc') ? 'desc' : 'asc' -}}
                           "><span>Veličina</span><span class="sorting-indicator"></span></a>
                    </th>
                    <th scope="col" id="state" class="manage-column column-state sortable column-primary{{ (orderby == 'state') ? ' sorted' }} {{ order }}">
                        <a href="admin.php?page=inventory_managment
                        {{- request.get.type ? '&type='~request.get.type -}}
                        {{- (request.get.state is defined) ? '&state='~request.get.state -}}
                            &orderby=state&order=
                            {{- (order == 'asc') ? 'desc' : 'asc' -}}
                           "><span>Status</span><span class="sorting-indicator"></span></a>
                    </th>
                    <th scope="col" id="user" class="manage-column column-user">Zadužio/la</th>
                    <th scope="col" id="date" class="manage-column column-date">Datum izdavanja</th>
                    <th scope="col" id="note" class="manage-column column-note">Napomena</th>
            </thead>

            <tbody id="the-list" data-wp-lists="list:item">

                {% for item in inventoryItems %}
                <tr id="item_{{ item.id }}">
                    <th scope="row" class="check-column"><label class="screen-reader-text" for="item_{{ item.id }}">{{ item.id }}</label><input type="checkbox" name="ids[]" id="{{ item.id }}" class="{{ stateTranslation[item.state] }}" value="{{ item.id }}"></th>
                    <td class="id column-id has-row-actions column-primary" data-colname="Id">
                        <strong>
                            <a href="admin.php?page=inventory_managment&edit={{ item.id }}">{{ item.id }}</a>
                        </strong>
                        <br />
<div class="row-actions"></div>
                        <button type="button" class="toggle-row"><span class="screen-reader-text">Prikaži više detalja</span></button>
                    </td>
                    <td class="type column-type" data-colname="Vrsta opreme">{{ typeTranslation[item.type] }}</td>
                    <td class="size column-size" data-colname="Veličina">{{ item.size }}</td>
                    <td class="state column-state" data-colname="Status">{{ stateTranslation[item.state] }}</td>
                    <td class="user column-user" data-colname="Zadužio/la">{{ item.user.display_name }}</td>
                    <td class="date column-date" data-colname="Datum izdavanja">{{ item.issue_date }}</td>
                    <td class="note column-note" data-colname="Napomena">
                        {% if item.note is not empty %}
                            <span class="dashicons dashicons-admin-comments rkg-popover-control"></span>
                            <div class="rkg-popover">{{ item.note }}</div>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
            <br class="clear">
    </form>
<div class="clear"></div>
    </div>
{% endblock %}
